<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066675635935-l3dcof8734i6tulrr941328kkmahaslc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066675635935-l3dcof8734i6tulrr941328kkmahaslc</string>
	<key>API_KEY</key>
	<string>AIzaSyBH6tivxUqWT5mrSGhOgdUd9b4peXq_-0M</string>
	<key>GCM_SENDER_ID</key>
	<string>1066675635935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>socialapp-6ae14</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-6ae14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066675635935:ios:65d6b415e10fb407770b6a</string>
</dict>
</plist>